<% if results.any? %>

  <div id="table">
    <div class="left"></div>
    <table>
      <% results.each do |game| %>
        <tr>
          <td><%= link_to game.title, game.url %></td>
        </tr>
      <% end %>
    </table>
    <div class="right"></div>
  </div>

  <%= will_paginate results %>

  <div class="page-entries">
    <%= page_entries_info results %>
  </div>

<% end %>
