body {
  background: #b8bbc0 url(../images/background.png);
  font-family: 'Verdana', arial, serif;
}

.container {
  margin: 0 auto;
  width: 700px;
  text-align: center;
  padding-top: 30px;
}

h1 {
  font-family: 'Helvetica', arial, serif;
  font-weight: bold;
  font-size: 26px;
  margin: 0;
  padding: 0 0 8px 0;
  -webkit-font-smoothing: antialiased;
}

h1 a {
  color: #2e2e2e;
  text-decoration: none;
  text-shadow: #FFFFFF 1px 1px 1px;
  cursor: pointer;
}

a {
  color: #0089e0;
  text-decoration: none;
}

a:hover {
  color: #0089e0;
}

p {
  font-size: 13px;
  color: #2e2e2e;
  margin: 0 10px;
}

table {
  width: 100%;
}

table tr:nth-child(2n+1) {
  background: rgba(165, 169, 172, 0.1);
}

table td {
  text-align: center;
  padding: 8px 0;
}

#table {
  position: relative;
  overflow: hidden;
}

#table .left,
#table .right {
  width: 100px;
  background: red;
  height: 100%;
  top: 0px;
  position: absolute;
}

#table .right {
  right: 0px;
  background: url(../images/right.png) repeat-y;
}

#table .left {
  left: 0px;
  background: url(../images/left.png) repeat-y;
}

#results {
  font-size: 12px;
}

.pagination {
  margin-top: 5px;
}

form {
  padding: 20px 0 30px;
}

#search {
  background: url(../images/input.png) no-repeat;
  width: 367px;
  height: 23px;
  padding: 10px 15px;
  border: 0;
  outline: none;
  font-size: 18px;
  color: #2E2E2E;
}

input::-webkit-input-placeholder,
input:-moz-placeholder {
  font-style: italic;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

#button {
  border: 0;
  text-indent: -999px;
  width: 25px;
  height: 25px;
  background: url(../images/search.png) no-repeat;
  position: relative;
  top: -3px;
  cursor: pointer;
}

#button:focus {
  outline: none;
  border: 0;
}

.pagination {
  padding: 15px 0 10px;
}

.pagination em {
  font-style: normal;
  margin: 0 5px;
}

.pagination a {
  margin: 0 5px;
}

.page-entries {
  background: url(../images/footer.png) no-repeat center center;
  width: 610px;
  height: 74px;
  color: #777777;

  text-shadow: #FFFFFF 1px 1px 1px;
  margin: 0 auto;
  padding-top: 15px;
}

.page-entries b {
  font-weight: normal;
}

.next_page,
.previous_page {
  background: #3b88d8;
  background: -moz-linear-gradient(0% 100% 90deg, #377ad0, #52a8e8);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  color: #fff !important;
  font-family: "lucida grande", sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  padding: 3px 13px 3px;
  text-align: center;
  text-shadow: 0 -1px 1px #3275bc;
  width: 112px;
  -webkit-background-clip: padding-box;
}

.next_page:hover,
.previous_page:hover {
  background: #2a81d7;
  background: -moz-linear-gradient(0% 100% 90deg, #206bcb, #3e9ee5);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  -moz-box-shadow: inset 0 1px 0 0 #62b1e9;
  -webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
  cursor: pointer;
  text-shadow: 0 -1px 1px #1d62ab;
  -webkit-background-clip: padding-box;
}

.next_page:active,
.previous_page:active {
  background: #3282d3;
  border: 1px solid #154c8c;
  border-bottom: 1px solid #0e408e;
  -moz-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
  -webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
  text-shadow: 0 -1px 1px #2361a4;
  -webkit-background-clip: padding-box;
}

.next_page.disabled,
.previous_page.disabled,
.next_page.disabled:hover,
.previous_page.disabled:hover,
.next_page.disabled:active,
.previous_page.disabled:active {
  background: #999;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dadada), to(#f3f3f3));
  background: -moz-linear-gradient(0% 100% 90deg, #f3f3f3, #dadada);
  border-top: 1px solid #c5c5c5;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #cecece;
  color: #8f8f8f;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  cursor: not-allowed;
  text-shadow: 0 -1px 1px #ebebeb;
}

.next_page::-moz-focus-inner,
.previous_page::-moz-focus-inner {
  border: 0;
  padding: 0;
}

#loading {
  position: fixed;
  left: 50%;
  bottom: 0;
  padding: 10px 0px;
  width: 130px;
  margin-left: -65px;
  text-align: center;
  z-index: 9;

  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  background: rgba(0,0,0,0.8);
  color: white;

  -moz-box-shadow: 0 1px 3px #000000;
  -webkit-box-shadow: 0 1px 3px #000000;
}
